.img1{
    padding-left: 30px;
    padding-top: 6%;
    width: 103%;
    height: 685px;
}
.col-6{
    width: 30%;
    height: 120%;
}
.top{
    background-image: url(./image/imageback3.jpg);
    padding-top: 15%;
    border: 1px solid rgb(220, 207, 207);
    margin: 6% 0% 7% 0%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
}
h1{
    text-align: center;
}
h6{
    text-align: center;
    padding-bottom: 10%;
}
#for{
    padding: 3% 10%;
}
#or{
    text-align: center;
}
.section{
    padding-bottom: 10%;
}
form{
    display: block;
}
#fo{
    display: block;
}
#pas{
    display: block;
}
input{
    padding-right: 30% ;
    border-radius: 6px;
}
.lo {
    padding:1.3% 6%;
    background-color: cornflowerblue;
}
#but{
    margin-bottom: 50px;
    padding-left: 38%;
    border-radius: 5px;
}
.ico{
    align-items: center;
}
.inpu{
    padding-left: 10%;
}
.google{
    width: 40px;
    height: 40px;
}
.facebook{
    width: 40px;
    height: 40px;
}
.apple{
    width: 40px;
    height: 40px;
}
.image{
    padding-left: 30%;
    border-radius: 10px;
}

h6{
    text-align: center;
}
